# Default .gitignore file

# Mac OS X
.DS_Store

# IntelliJ
.idea
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Maven
log/
target/

node_modules/
bower_components/

# transpiled folder
transpiled
typings